* {
    margin: 0;
}

body {
    font: 100%/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
    height: 100%;
    color: #000000;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.decorative-border {
	height: 8px;
	background-color: rgb(102, 102, 102);
	margin: 0px;
	margin-left: -20px;
    margin-right: -20px;
	padding: 0px;
	border: 0px;
}

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a {
    color: #01BEF5;
}

a:link {
    color: #01BEF5;
}

a:visited {
    color: #01BEF5;
}

a:hover {
    color: #01a5dc;
}

a:active {
    color: #4cf0f5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #F59C00;
    font-family: "PT Sans Narrow","Arial Narrow",sans-serif;
    font-weight: 700;
}

h1 {
	color: #000000;
	font-size: 2.625em;
	margin-top: 0px;
}

section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -72px;
	margin-left: 20px;
	margin-right: 20px;
}

.push {
	height: 90px;
}

footer {
	background: rgb(102, 102, 102);
	color: white;
	font-size: 0.8em;
	padding-top: 12px;
	width: 100%;
	height: 60px;
}

footer img {
	margin-left: 20px;
	margin-top: 4px;
}

table.strikes {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    border-collapse: collapse;
    color: black;
}

table.strikes th, td {
    vertical-align: top;
    padding-left: 0.7ex;
    padding-right: 0.7ex;
}

table.strikes th {
    color: white;
}

table.strikes td {
    border: 1px solid #888888;
}

table.strikes tr.hit {
    background-color: #ccffcc;
}

table.strikes tr.miss {
    background-color: #ffeecc;
    color: red;
}

table.strikes tr.error {
    background-color: #ffcccc;
    color: red;
}

.navigation {
    position: absolute;
    top: 60px;
    right: 1em;
}

.score-history {
    width: 500px;
    height: 120px;
}

#current-overall-scores {
	position: absolute;
	width: 95%;
	height: 70%;
	margin: 20px;
	margin-bottom: 60px;
}