body {
    background: black;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

a {
    color: #6666ff;
}

a:link {
    color: #6666ff;
}

a:visited {
    color: #6666ff;
}

a:hover {
    color: #ffff66;
}

a:active {
    color: #6666ff;
}

h1, h2, h3, h4, h5, h6 {
    color: #00ff00;
}

table.strikes {
    white-space: pre;
    border-collapse: collapse;
    color: black;
}

table.strikes th, td {
    vertical-align: top;
    padding-left: 0.7ex;
    padding-right: 0.7ex;
}

table.strikes th {
    color: white;
}

table.strikes td {
    border: 1px solid #cccccc;
}

table.strikes tr.hit {
    background-color: #ccffcc;
}

table.strikes tr.miss {
    background-color: #ffeecc;
    color: red;
}

table.strikes tr.error {
    background-color: #ffcccc;
    color: red;
}

.bread-crumb {
    position: absolute;
    top: 80px;
}

.start-polling {
    font-size: 12px;
}

.bread-crumb-placeholder {
    height: 50px;
    visibility: hidden;
}