body {
    font-family: chaparral-pro, sans-serif;
    color: #000000;
    background: #ffffff;
}

a {
    color: #01BEF5;
}

a:link {
    color: #01BEF5;
}

a:visited {
    color: #01BEF5;
}

a:hover {
    color: #01a5dc;
}

a:active {
    color: #4cf0f5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #F59C00;
}

table.strikes {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    border-collapse: collapse;
    color: black;
}

table.strikes th, td {
    vertical-align: top;
    padding-left: 0.7ex;
    padding-right: 0.7ex;
}

table.strikes th {
    color: white;
}

table.strikes td {
    border: 1px solid #888888;
}

table.strikes tr.hit {
    background-color: #ccffcc;
}

table.strikes tr.miss {
    background-color: #ffeecc;
    color: red;
}

table.strikes tr.error {
    background-color: #ffcccc;
    color: red;
}

.navigation {
    position: absolute;
    top: 1em;
    right: 1em;
}

.score-history {
    width: 500px;
    height: 120px;
}
